<div class="divFooter">
  <div class="navbar-Foot">
    <ul>
      <li><a href="index.html">Inicio</a></li>
      <li><a href="index.html">Sobre Mí</a></li>
      <li><a href="index.html">Proyectos</a></li>
      <li><a href="index.html">Contacto</a></li>
    </ul>
  </div>
  <div class="navbar-Foot">

    <div class="Imf">
      <div class="">
        <p class="divtexf1">©2024 creado con 🌱</p>
      </div>
      <img class="imglogoF" src="/public/logo1.3.png" alt="logo" />
    </div>

    <ul>
      <li>
        <button>
          <svg width="24" height="24" viewBox="0 0 24 24" fill="#fff" class=""
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
              d="M5.315 2.1c.791 -.113 1.9 .145 3.333 .966l.272 .161l.16 .1l.397 -.083a13.3 13.3 0 0 1 4.59 -.08l.456 .08l.396 .083l.161 -.1c1.385 -.84 2.487 -1.17 3.322 -1.148l.164 .008l.147 .017l.076 .014l.05 .011l.144 .047a1 1 0 0 1 .53 .514a5.2 5.2 0 0 1 .397 2.91l-.047 .267l-.046 .196l.123 .163c.574 .795 .93 1.728 1.03 2.707l.023 .295l.007 .272c0 3.855 -1.659 5.883 -4.644 6.68l-.245 .061l-.132 .029l.014 .161l.008 .157l.004 .365l-.002 .213l-.003 3.834a1 1 0 0 1 -.883 .993l-.117 .007h-6a1 1 0 0 1 -.993 -.883l-.007 -.117v-.734c-1.818 .26 -3.03 -.424 -4.11 -1.878l-.535 -.766c-.28 -.396 -.455 -.579 -.589 -.644l-.048 -.019a1 1 0 0 1 .564 -1.918c.642 .188 1.074 .568 1.57 1.239l.538 .769c.76 1.079 1.36 1.459 2.609 1.191l.001 -.678l-.018 -.168a5.03 5.03 0 0 1 -.021 -.824l.017 -.185l.019 -.12l-.108 -.024c-2.976 -.71 -4.703 -2.573 -4.875 -6.139l-.01 -.31l-.004 -.292a5.6 5.6 0 0 1 .908 -3.051l.152 -.222l.122 -.163l-.045 -.196a5.2 5.2 0 0 1 .145 -2.642l.1 -.282l.106 -.253a1 1 0 0 1 .529 -.514l.144 -.047l.154 -.03z"
            ></path>
          </svg>
        </button>
      </li>
      <li>
        <button>
          <svg width="24" height="24" viewBox="0 0 24 24" fill="#fff"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
              d="M8.267 3a1 1 0 0 1 .73 .317l.076 .092l4.274 5.828l5.946 -5.944a1 1 0 0 1 1.497 1.32l-.083 .094l-6.163 6.162l6.262 8.54a1 1 0 0 1 -.697 1.585l-.109 .006h-4.267a1 1 0 0 1 -.73 -.317l-.076 -.092l-4.276 -5.829l-5.944 5.945a1 1 0 0 1 -1.497 -1.32l.083 -.094l6.161 -6.163l-6.26 -8.539a1 1 0 0 1 .697 -1.585l.109 -.006h4.267z"
            ></path></svg
          >
        </button>

        <li>
          <button>
            <svg width="30" height="30" fill="#fff" viewBox="0 0 24 24">
              <path
                fill="currentColor"
                fill-rule="evenodd"
                d="M3 8a5 5 0 0 1 5-5h8a5 5 0 0 1 5 5v8a5 5 0 0 1-5 5H8a5 5 0 0 1-5-5V8Zm5-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V8a3 3 0 0 0-3-3H8Zm7.597 2.214a1 1 0 0 1 1-1h.01a1 1 0 1 1 0 2h-.01a1 1 0 0 1-1-1ZM12 9a3 3 0 1 0 0 6 3 3 0 0 0 0-6Zm-5 3a5 5 0 1 1 10 0 5 5 0 0 1-10 0Z"
                clip-rule="evenodd"></path>
            </svg>
          </button>
        </li>
        <li>
          <button>
            <svg
              aria-hidden="true"
              width="32"
              height="32"
              fill="#fff"
              viewBox="0 0 24 24"
            >
              <path
                fill-rule="evenodd"
                d="M12.51 8.796v1.697a3.738 3.738 0 0 1 3.288-1.684c3.455 0 4.202 2.16 4.202 4.97V19.5h-3.2v-5.072c0-1.21-.244-2.766-2.128-2.766-1.827 0-2.139 1.317-2.139 2.676V19.5h-3.19V8.796h3.168ZM7.2 6.106a1.61 1.61 0 0 1-.988 1.483 1.595 1.595 0 0 1-1.743-.348A1.607 1.607 0 0 1 5.6 4.5a1.601 1.601 0 0 1 1.6 1.606Z"
                clip-rule="evenodd"></path>
              <path d="M7.2 8.809H4V19.5h3.2V8.809Z"></path>
            </svg>
          </button>
        </li>
      </li>
    </ul>
  </div>

  <style>
    .divFooter {
      background-color: rgba(26, 24, 80, 0.9);
      color: #ffffff;
    }
    .divFooter .navbar-Foot ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .divFooter .navbar-Foot li {
      margin-left: 20px;
    }
    .divFooter .navbar-Foot li a {
      display: flex;
      align-items: center;
      font-size: 18px;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    .divFooter .navbar-Foot li a:hover {
      color: #e5e52e;
      text-decoration: underline;
      text-decoration-thickness: 1px;
      text-decoration-style: wavy;
      text-underline-offset: 7px;
    }
    .divtexf1 {
      list-style-type: none;
      margin: 0;
      justify-content: center;
      text-align: center;
      padding: 14px 16px;
    }
    .Imf{
      position: relative;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    padding: 1rem;

    }
    .imglogoF {
      width: 20%;
    }
    
  </style>
</div>
