---
const { title } = Astro.props;
console.log(title);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo-braynSramos.svg" />
    <link rel="stylesheet" href="https://use.typekit.net/kcl0hcw.css" />
    <title>{title} BraynSramos</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      rgb(0, 0, 0) 60%
    );
  }
  @font-face {
    font-family: "leaguegothic-italic-webfont";
    src: url("/public/fonts/leaguegothic-italic-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "vag-rundschrift-d", sans-serif;
    font-weight: 200;
    font-style: italic;
    font-display: swap;
  }
  html {
    font-family: "leaguegothic-italic-webfont", system-ui, sans-serif;
  }
  body {
    background-color: rgb(255, 255, 255);
    color: #ffffff;
  }
  p,
  span {
    font-family: "vag-rundschrift-d";
  }
  h1,
  h2 {
    font-family: "leaguegothic-italic-webfont", system-ui, sans-serif;
  }
  /* 📌 Ocultar el icono oscuro por defecto */
  .dark-mode {
    background-color: #292e3b;
    color: white;
  }
  /* Ocultar el icono oscuro por defecto */
  #darkIcon {
    display: none;
  }
  /* Mostrar el icono claro en modo claro */
  .light-mode #lightIcon {
    display: inline;
  }

  /* Mostrar el icono oscuro en modo oscuro */
  .dark-mode #darkIcon {
    display: inline;
  }

  /* Opcional: estilo para el botón y el icono */
  #darkModeToggle {
    background: none;
    border: none;
    cursor: pointer;
  }
</style>
